/* Open Sans Google Font Import  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset style  */
* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Open Sans'; 
    color: var(--dark-color);
}

/* common style  */
:root {
    --primary-color: #fd6e0a;
    --dark-color: #181818;
    --dark2-color: #474747;
    --dark3-color: #757575;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.btn {
    border: none;
    padding: 10px 14px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.35rem;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: white;
}

.btn-outline {
    border: none;
    padding: 10px 13px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 0.35rem;
    background: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}



/* Header Section Style  */
.header {
    position: relative;
    background: #fff8f3;    
   /* background: #0000004d; */
}

.header .developer-img {
    position: absolute;
    max-height: 500px;
    top: 0.9rem;
    left: 0.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0.75rem 0;   
}

.navbar .logo {
    color: var(--dark-color);
    font-size: 2rem;
    margin: 0;
}

.navbar .logo span {
    color: var(--primary-color);
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(46, 46, 46);
    font-size: 1rem;
}

/* Banner Section Style  */

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
}

.hero-left h3 {
    color: var(--dark3-color);
}

.hero-left h1 {
    font-size: 3.5rem;
    margin: 0.8rem 0;
    color: var(--dark-color);
}

.hero-left p {
    color: var(--dark3-color);
    margin-bottom: 1.25rem;
}

.hero-left .hero-btn-container {
    display: flex; 
    align-items: center;
    gap: 0.8rem;
}

.hero-right {
    display: flex;
    justify-content: end;
    position: relative;
}

.hero-right img{
    max-height: 500px;
    z-index: 1;
}

.hero-right .hero-bg-img{ 
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 400px;
}


/* about-me section design  */

.about-me {
    margin-top: 7rem;
    margin-bottom: 7rem;
    background: #fff8f3;
    padding: 6rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.section-header {
    text-align: center;
    font-size: 1.5rem;
    color: var(--dark-color);
}

.about-me .about-me-description{
    color: var(--dark3-color);
 }

.about-me-footer {
    display: flex;
    justify-content: space-between;
    
}

.about-me-footer .box {
    padding: 0.3rem 0.5rem;
}

.about-me-footer .box p {
    color: var(--dark3-color);
}

.about-me-footer .box h3 {
    color: var(--dark-color);
}

/* what-i-do section style  */

.what-i-do {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
    padding: 0.3rem;
}

.what-i-do .section-description {
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
    color: var(--dark3-color);
}

.what-i-do .card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.8rem;
    margin-top: 1.5rem;
}

.what-i-do .card-container .card {
    background: white;
    box-shadow: 0 10px 25px rgba(0,0,0,.2);
    padding: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    border-radius: 0.4rem;
}

.what-i-do .card-container .card img {
    max-width: 2.8rem;

}

.what-i-do .card-container .card h3 {
   color: var(--dark-color);
   font-size: 1.2rem;
}

.what-i-do .card-container .card p {
   color: var(--dark3-color);
   font-size: 1.1rem;
}

/* my-resume-section style  */
.my-resume-section {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.my-resume-body {
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;    
}

.my-resume-body h2 {
    color: var(--dark2-color);
    padding: 0 0.5rem;
 }

.my-resume-card-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;    
    padding: 0.5rem;
}

.my-resume-card-container .card h3{
    color: var(--dark2-color);
    margin-bottom: 0.5rem;    
 }

.my-resume-card-container .card h4{
    color: var(--dark3-color);
    margin-bottom: 1rem;
    font-weight: 600;
 }

.my-resume-card-container .card p{
    color: var(--dark3-color);
     margin-bottom: 1rem;
 }
.my-resume-card-container .card hr{
    height: 1px;
    border: none;
    background: #00000015;
 }

 .my-resume-section .download-cv-btn {
    display: flex; 
    justify-content: center;
    align-items: center;
 }

 